html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    user-select: none;
    cursor: auto;
}

* {
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.button-container {
    display: none;
    background-color: #ee3d3d00;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    text-align: justify;
    padding: 20px;
    border: 5px solid #ff0000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
}